.form-control:focus {
    border-color: rgb(25,135,84);
    box-shadow: inset 0 0 1px rgb(25,135,84);
  }

  /* Hide arrow in number input */
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}